<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/jobs062/getAll">Jobs</a></li>
    <li class="breadcrumb-item active">Add Jobs</li>
</ol>
<h1 class="display-4">Add Jobs</h1>
<form method="post" action="/jobs062/create">
    <div class="form-group">
        <label for="Job Name">Job Name</label>
        <input type="text" name="jobName062" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Part Id">Part Id</label>
        <input type="text" name="partId062" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="quantity">quantity</label>
        <input type="text" name="qty062" class="form-control" required>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>