<div class="container text-center">
    <h1 class="display-4" style="font-weight: bold; font-family: monospace; margin-top: 5rem;">Welcome to Jobs API</h1>
    <h4 class="mb-4">This is sailsJS app for managing Jobs</h4>
    <a href="/jobs062/getAll" class="btn btn-info ml-4">View Jobs</a>
    <a href="/jobs062/addJob" class="btn btn-info ml-4">Add Jobs</a>
</div>